<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <!-- Web Icon -->
    <link rel="shortcut icon" type="image/png" th:href="@{images/icon/favicon.png}">
    <!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">
    <!-- Local Resources -->
    <link rel="stylesheet" href="../resources/css/404.css">
</head>

<body>

    <div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>4<span></span>4</h1>
			</div>
			<h2>Oops! Page Not Be Found</h2>
			<p>Sorry but the page you are looking for does not exist, have been removed. name changed or is temporarily unavailable</p>
			<a href="javascript:history.back()">Go Back</a>
		</div>
	</div>
</body>

</html>