<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
            <div class="breadcrumb-text">
                <p>Get 24/7 support</p>
                <h1>Contact Us</h1>
            </div>
        </div>
    </div>
</div>
</div>
<!-- end breadcrumb section -->

<div class="contact-section">

    <div class="container-fluid">
        <div class="row">
            <h4>Do you have any question?</h4>
            <div class="col-md-8">
                <form>
                    <div class="mb-3 row g-3">
                        <div class="col-sm-6 form-floating">
                            <input id="name" class="form-control" type="text" placeholder="Name">
                            <label class="input-label" for="name">Name</label>
                        </div>
                        <div class="col-sm-6 form-floating">
                            <input id="email" class="form-control" type="email" placeholder="Email">
                            <label class="input-label" for="email">Email</label>
                        </div>
                    </div>
                    <div class="mb-3 row g-3">
                        <div class="col-sm-6 form-floating">
                            <input id="phone" class="form-control" type="text" placeholder="Phone">
                            <label class="input-label" for="phone">Phone</label>
                        </div>
                        <div class="col-sm-6 form-floating">
                            <input id="subject" class="form-control" type="text" placeholder="Subject">
                            <label class="input-label" for="subject">Subject</label>
                        </div>
                    </div>
                    <div class="mb-3 form-floating">
                        <textarea id="message" class="form-control" name="" placeholder="Message"></textarea>
                        <label for="message">Message</label>
                    </div>
                    <div class="d-flex">
                        <button class="btn btn-submit shadow">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <div class="contact-info-wrapper">
                    <div class="contact-info-box">
                        <h4><i class="fas fa-map me-3"></i>Address</h4>
                        <p>
                            22 Nguyen Viet Xuan Street,<br> 
                            Phuoc Dan Town, Ninh Phuoc District,<br>
                            Ninh Thuan Province
                        </p>
                    </div>
                    <div class="contact-info-box">
                        <h4><i class="fas fa-address-book me-3"></i>Contact</h4>
                        <p>
                            Phone: (+84) 81 263 8042
                            <br>
                            Email: killua131197@gmail.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="map-wrapper">
        <div class="map-title">
            <span><i class="fas fa-map-marker-alt me-3"></i>Find Our Location</span>
        </div>
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3909.058326696656!2d108.9528281146301!3d11.547673791801035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3170d10f4d71116b%3A0xaf3c53d0a2cc16c4!2zTmd1eeG7hW4gVmnhur90IFh1w6JuLCBQaMaw4bubYyBEw6JuLCBOaW5oIFBoxrDhu5tjLCBOaW5oIFRodeG6rW4sIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1627088118980!5m2!1sen!2s"
                width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>

</div>